{% extends "base.html" %}

{% block content %}
    <div class="title">
        <p><b>{{ title }}</b></p>
    </div>
    <div id="content">
        <form id="user-admin-form" method="post" action="">
            <table class="extra-data">
                {{ form.as_table }}
                <tr>
                    <td colspan="2">
                        <input id="update-settings" type="submit" value="Go" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
