{% extends "base.html" %}

{% block content %}
    <div class="title">
        <p><b>{{ title }}</b></p>
    </div>
    <div id="content">
        <p>Los siguientes usuarios no tienen login asociado en el sistema, por favor seleccione el perfil de usuario que corresponde a cada uno o agregue manualmente los id externos a la base de datos y reintente el upload</p>
        <form id="users-association-form" method="post" action=".">
            <table class="extra-data">
                {{ form.as_table }}
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Go!" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
