{% extends "base.html" %}

<!-- Extra js -->
{% block extrajs %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_client').change(function(){
            if($(this).val()){
            $('#id_project').removeAttr('disabled');
            $('#id_get_report').attr('disabled', 'disabled');
            $.post('?', {'client' : $(this).val()},
                   function(data){
                   $('#id_project').html(data);
                   });
            }
            else{
            $('#id_project').attr('disabled', 'disabled');
            $('#id_project').val('');
            $('#id_get_report').attr('disabled', 'disabled');
            }
        });
        $('#id_project').change(function(){
            if($(this).val()){
            $('#id_get_report').removeAttr('disabled');
            }
            else{
            $('#id_get_report').attr('disabled', 'disabled');
            }
        });
    });
</script>
{% endblock extrajs %}

{% block content %}
    <div class="title">
        <b>{{ title }}</b>
    </div>
    <div id="content" >
    {% if clients%}
        <form method="POST" action="">
        <table id="fixed-client-projects" class="extra-data">
            <tbody>
                <tr>
                    <th><label for="id_client">Client:</label></th>
                    <td>
                        <select id="id_client" name="client" width="200" style="width: 200px">
                          <option selected="selected" value="">----</option>
                          {% for client in clients %}
                          <option value="{{ client.id }}">{{ client.name }}</option>
                          {% endfor %}
                        </select>
                    </td>
                </tr>		
                <tr>
                    <th><label for="id_project">Project:</label></th>
                    <td>
                        <select id="id_project" name="project" width="200" style="width: 200px" disabled="disabled">
                            <option selected="selected" value="">----</option>
                        </select>
                    </td>
                </tr>		
            </tbody>
                <tr>
                    <td colspan="2">
                        <input id="id_get_report" type="submit" value="Go!" disabled="disabled"/>
                    </td>
                </tr>
        </table>
        </form>
    {% else %}
        <p><i>No se encontraron proyectos con costo fijo</i></p>
    {% endif %}
    </div>
{% endblock %}
