{% extends "base.html" %}

{% block content %}
  <div align=center style="margin-left: auto ; margin-right: auto; width:200px; text-align: left; padding:1em;">
    </br></br>
    <ul>
      <li><a href="{% url logout %}">Logout</li>
      <li><a href="{% url clients_projects %}">Mis proyectos</li>
      <li><a href="{% url client_summary_period %}">Resúmen de cuenta</li>
      <li><a href="{% url profiles_edit %}">Cambiar datos</li>
      <li><a href="{% url password_change %}">Cambiar password</li>
    </ul>
  </div>
{% endblock %}
