{% extends "base.html" %}

{% block jsscript %}
    $(document).ready(function(){
        $('#username').focus();
    });
{% endblock %}

{% block content %}
  <div align=center>
    {% if form.errors %}
      <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}
    <p>
    {% if not user.is_anonymous and not perms.eff.view_billable %}
      Para realizar esta acción debes estar logueado con permisos de administrador: logueate por favor
    {% else %}
      Por favor logueate:
    {% endif %}
    </p>

   <br/>
   <form method="post" action="">
     <p>
      <label for="username">User name:</label>
      <input type="text" name="username" value="" id="username">
      <br/>
      <br/>
      <label for="password">Password:</label>
      <input type="password" name="password" value="" id="password">
     </p>
     <br/>
     <p>
      <input type="submit" value="login" />
     </p>
   </form>
  </div>
{% endblock %}
