{% extends "base.html" %}

{% block jsscript %}
    $(document).ready(function(){
        $('#id_email').focus();
    });
{% endblock %}

{% block content %}
  <div align=center>
    <br/>
    <p> Password reset: </p>
    <br/>

    <p>Forgotten your password?
      <br/>Enter your e-mail address below, and we'll e-mail instructions for setting a new one.
    </p>
    <br/>

    <form action="" method="post">{% csrf_token %}
      {{ form.email.errors }}
      <p>
        <label for="id_email">E-mail address:</label>
        {{ form.email }}
        <input type="submit" value="Reset my password" />
      </p>
  </div>
</form>

{% endblock %}
