*.pyc
*.*~

updatedb.debug     # this file is created when sources are fetched
updatedb.flag      # this file is created when one clicks on updatedb

local_settings.py
scripts/sources_csv/*   # in this directory fetched data is dumped
!.gitignore
