{% extends "base.html" %}

{% block title %}{{ block.super }} -- Edit your profile {% endblock %}

{% block content %}
    <div id="wrapper">
        <div class="title">
            <p><b>{{ profile.user.first_name }}'s Profile</b></p>
        </div>

        <div id="content">
            <form method="post" action="">
                <table class="extra-data">
                  {{ form.as_table }}
                  <tr><td colspan="2"><input type="submit" value="Update!"/></td></tr>
                </table>
            </form>
       </div>
    <div/>
{% endblock %}
