{% extends "base.html" %}

{% block title %}{{ block.super }} -- Create Profile {% endblock %}

{% block content %}
    <div id="wrapper">
        <div class="title">
            <p><b>Create a New Profile</b></p>
        </div>
        <div id="content">
            <form method="post" action="">
                <table class="extra-data">
                    {{ form.as_table }}
                    <tr><td colspan="2"><input type="submit" value="Create!"/></td></tr>
                </table>
            </form>
       </div>
   </div>
{% endblock %}
