{% extends "base.html" %}

{% block title %}{{ block.super }} -- Gráfico de Eficiencia {% endblock %}

{% block content %}
    <div class="title">
        <p><b>Gráfico entre {{from_date}} y {{to_date}}</b></p>
    </div>

{% if navs %}
    {% include 'nav-links.html' %}
{% endif %}
    <div id="content">
        <table class="extra-data">
        {% for val in users_graph_values %}
            <tr>
                <td><b>{{ val.name }}</b></td>
                <td><img width="{{val.width}}" height="{{val.height}}" class="chart" align="middle" src="http://chart.apis.google.com/chart?chs={{val.width}}x{{val.height}}&amp;chd=s:{{val.chart_values}}&amp;chxl={{val.chart_labels}}&amp;chxt={{val.chart_axis}}&amp;chco={{val.chco}}&amp;chds=0,24&amp;chg=0,10&amp;cht={{val.chart_type}}&amp;chbh={{val.bar_format}}{% if val.axis_range %}&amp;{{val.axis_range}}{% endif %}{% if val.extra %}&amp;{{val.extra}}{% endif %}"/></td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}

{% block footer %}
<a href="{% url eff_site.eff.views.eff %}?from_date={{from_date}}&to_date={{to_date}}"> Volver a efficiency </a>
{% endblock footer %}