{% extends "base.html" %}

{% load workedhours %}

{% block title %}{{ block.super }} -- Profile Details {% endblock %}

{% block content %}
    <div class="title">
        <p><b>Lista de Profiles</b> </p>
    </div>

    <div id="content">
    {% if object_list %}
        <table border="report" >
        {% for object in object_list %}
            <tr>
                <td> <a href="{{ object.get_absolute_url }}">{{ object.user.first_name }}</a></td>
                <td> {{ object|workedhours:"2008-04-13 2008-04-20" }} </td>
                <td> {{ object|totalhours:"2008-04-13 2008-04-20" }} </td>
                <td> {{ object|percentage:"2008-04-13 2008-04-20" }} </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No profiles found.</p>
    {% endif %}
    </div>
{% endblock %}
