<script type="text/javascript" charset="utf-8">

function bindPostAttachmentHandler(fid) {
    var options = {
        theid: fid,
        target:        '#attachment_form_wrapper_' + fid + ' form',   // target element(s) to be updated with server response 
        beforeSubmit:  showRequest,  // pre-submit callback 
        success:       showResponse,  // post-submit callback 
 
        // other available options: 
        //url: ,         // override for form's 'action' attribute 
        //type:      type        // 'get' or 'post', override for form's 'method' attribute 
        //dataType:  null        // 'xml', 'script', or 'json' (expected server response type) 
        clearForm: true,        // clear all form fields after successful submit 
        //resetForm: true        // reset the form after successful submit 
 
        // $.ajax options can be used here too, for example: 
        timeout:   1000,
    }; 
 
    // bind to the form's submit event 
    $('#attachment_form_wrapper_' + fid + ' form').submit(function() { 
        // inside event callbacks 'this' is the DOM element so we first 
        // wrap it in a jQuery object and then invoke ajaxSubmit 
        $(this).ajaxSubmit(options); 
 
        // !!! Important !!! 
        // always return false to prevent standard browser submit and page navigation 
        return false; 
    });
}

function showError(formData, jqForm, options) {
alert("An error ocurred while uploading the file, try again later please.");
}

// pre-submit callback 
function showRequest(formData, jqForm, options) { 
    // formData is an array; here we use $.param to convert it to a string to display it 
    // but the form plugin does this for you automatically when it submits the data 
    var queryString = $.param(formData); 
 
    // jqForm is a jQuery object encapsulating the form element.  To access the 
    // DOM element for the form do this: 
    // var formElement = jqForm[0]; 
 
    alert('About to submit: \n\n' + queryString); 
 
    // here we could return false to prevent the form from being submitted; 
    // returning anything other than false will allow the form submit to continue
    return true; 
} 
 
// post-submit callback 
function showResponse(responseText, statusText, xhr, $form, options)  { 
    // for normal html responses, the first argument to the success callback 
    // is the XMLHttpRequest object's responseText property 
 
    // if the ajaxSubmit method was passed an Options Object with the dataType 
    // property set to 'xml' then the first argument to the success callback 
    // is the XMLHttpRequest object's responseXML property 
 
    // if the ajaxSubmit method was passed an Options Object with the dataType 
    // property set to 'json' then the first argument to the success callback 
    // is the json data object returned by the server 
 
    alert('status: ' + statusText + '\n\nresponseText: \n' + responseText + 
        '\n\nThe output div should have already been updated with the responseText.');
    return false;
} 


function deleteCommentHandler(cid) {
    var agree = confirm("Do you want to delete this comment?");
    
    if (agree){
        $('#delete_form_' + cid).submit(function fd() {
            this_form = $(this);
            this_url = this_form.attr('action');
            comment = this_form.parent();
            $.ajax({
                type: "POST",
                data: this_form.serialize(),
                url: this_url,
                cache: false,
                dataType: "html",
                success: function(html, textStatus) {
                    comment.parent().replaceWith('');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
            return false;
        });
    }
    else
        return false;
}

</script>